@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container RestaurantInfra">
    <div class="pageHead">
        <h4 class="pageTitle">Card Activation</h4>

    </div>
    <div class="card mt-2" id="">
        <div class="card-body mainCon">
            <div class="row">
                <div class="col-md-6 pl-0">
                    <div class="col-md-12 pl-0">
                        <label class="col-md-4 fontBold">Card Number:</label>
                        <input type="text" class="form-control col-md-8 pull-right" placeholder="Card Number" />

                    </div>
                    <div class="col-md-12 pl-0 mt-2">
                        <label class="col-md-4 fontBold">Total Issued:</label>
                        <label class="col-md-8 pull-right pl-0">12</label>

                    </div>
                    <div class="col-md-12 pl-0">
                        <label class="col-md-4 fontBold">Card Count:</label>
                        <label class="col-md-8 pull-right pl-0">6</label>

                    </div>
                    <div class="col-md-12 pt-1">
                        <button type="button" class="btn btn-success btn-sm pull-right"><i class="" aria-hidden="true"></i>Activate</button>
                    </div>
                </div>
                <div class="cardavtleft">
                   
                    <label class="col-md-4 fontBold NoDataToDisplay">No Data To Display</label>
                        

                    

                </div>
                
            </div>

        </div>


    </div>
</div>*@
