@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/js/jquery-1.10.2.js"></script>
<script>        var jquery_1_10_2_min_p = jQuery.noConflict();</script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script>        var bootstrap_min_p = jQuery.noConflict();</script>

<script src="~/Content/js/jquery-ui.js"></script>
<script src="~/JavaScript/CouponCustomer.js"></script>




<script>
    jquery_1_10_2_min_p(document).ready(function () {

        var id = '@Request.RequestContext.HttpContext.Session["CurrentRestroId"]';


        jquery_min_p("#lblrestroid").text(id);

        // alert(jquery_min_p("#lblrestroid").text());

    });
</script>
<style>
    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    /*the container must be positioned relative:*/
    .autocomplete {
        position: relative;
        display: inline-block;
    }

    .mainCon {
        min-height: 221px;
        overflow: hidden;
        padding-top: 3px !important;
        padding-bottom: 20px !important;
    }

    input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
    }

        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
        }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 32%;
        right: 0;
        width: 65%;
        overflow-y: scroll;
        max-height: 140px;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            /*when hovering an item:*/
            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    /*when navigating through the items using the arrow keys:*/

    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }

    .btnposi {
        position: absolute;
        bottom: 6px;
        right: 12px;
    }

    .ui-widget {
        line-height: 14px !important;
    }
    #ddlbooklet1 {
   width:100%; }
    #btnclreissue {
      position: absolute;
    top: -34px;
    right: -87%;
}
</style>
<div class="container RestaurantInfra">
    <div class="pageHead">
        <h4 class="pageTitle">Customer Coupon</h4>

    </div>
    <div class="card mt-2" id="">
        <div class="card-body mainCon">
            <div class="pageHead">
                <h4 class="pageTitle">Issue</h4>

            </div>
            <div class="row">
                <div class="col-md-6 pl-0">
                    <label class="col-md-4 fontBold">Name:</label>
                    <input type="text" id="txtclname" class="form-control col-md-8 pull-right" placeholder="Name" onkeyup="RemoveClass();" onblur="    Checkname(); RemoveClass();" />


                </div>
                <div class="col-md-6">
                    <label class="col-md-4 fontBold">Mobile:</label>
                    <input type="text" id="txtclmobile" class="form-control col-md-8 pull-right" maxlength="10" placeholder="Mobile" onblur="mobilecheck(); RemoveClass(); CheckMobile();" onkeyup="    RemoveClass();" />

                </div>
                @*<div class="col-md-6 pl-0">
                    @*<div class="col-md-6 pl-0 pt-1" style="position:relative;">
                    <label class="col-md-4 fontBold">Booklet No.</label>
                    <div class="col-sm-7 col-md-7 col-7 dropdown pr-0">
                        <select class="form-control" style="height: 27px; display: block;" id="ddlbooklet" onkeyup="   Removeclass(); "></select>
                    </div>
                    </div>*@
                <div class="col-md-6  pl-0">
                    <label class="col-sm-2 col-md-4 col-3 fontBold pl-3 pt-2 pr-0">Booklet No.</label>
                    <div class="col-sm-8 col-md-8 col-8 dropdown pr-0 pt-2 pl-0 pull-right ">
                        <select class="form-control" style="height: 27px; display: block;" id="ddlbooklet" onchange="RemoveClass();" >
                            <option selected="selected">Select</option>
                        </select>
                    </div>
                    </div>

                <div class="col-md-6 pt-1">
                    <label class="col-md-4 fontBold">Email:</label>
                    <input type="text" id="txtclemail" class="form-control col-md-8 pull-right" placeholder="Email" onkeyup="RemoveClass();" />

                </div>



                    @*<label class="col-md-4 fontBold">Card No.:</label>
            <input type="text" id="txtclcardno" class="form-control col-md-8 pull-right autocomplete ui-widget" placeholder="Card Number" onkeypress=" RemoveClass();" onkeyup="FilterCardNo();" maxlength="30" />
            @*<input type="text" id="myInput" class="form-control col-md-8 pull-right autocomplete" placeholder="Card Number"  />*@
                    @*</div>*@
                <div class="col-md-6  pl-0">
                    <label class="col-sm-2 col-md-4 col-3 fontBold pl-3 pt-2 pr-0">Coupon No.</label>
                    <div class="col-sm-8 col-md-8 col-8 dropdown pr-0 pt-2 pl-0 pull-right ">
                        <select class="form-control" style="height: 27px; display: block;" id="ddlcardno" onchange="RemoveClass();">
                            <option value="0" selected="selected">Select</option>
                        </select>
                    </div>
                </div>
                        @*<label class="col-md-4 fontBold">Card No.:</label>
                <input type="text" id="txtclcardno" class="form-control col-md-8 pull-right autocomplete ui-widget" placeholder="Card Number" onkeypress=" RemoveClass();" onkeyup="FilterCardNo();" maxlength="30" />
                @*<input type="text" id="myInput" class="form-control col-md-8 pull-right autocomplete" placeholder="Card Number"  />*@
                 
                    

                    <div class="col-md-6 pt-1">
                        <label class="col-md-4 fontBold">Address:</label>
                        <textarea type="text" id="txtcladdress" class="form-control col-md-8 pull-right" placeholder="Address" onkeyup="RemoveClass();"></textarea>
                    </div>

                    <div class="col-md-12 pt-2">
                        <button type="button" id="btnclissue" class="btn btn-success btn-sm pull-right"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Issue</button>
                    </div>
                </div>
           
        </div>
    </div>


    <div class="card mt-3" id="">
        <div class="card-body mainCon">

            <div class="pageHead">
                <h4 class="pageTitle">Reissue</h4>

            </div>
            <div class="row">
                <div class="col-md-6 pl-0">
                    <label class="col-md-4 fontBold">Booklet Number:</label>
                    <input type="text" id="txtbookletNo" class="form-control col-md-8 pull-right" placeholder="Booklet Number" @*onchange="CheckReissueBookletno();"*@ onkeyup="    RemoveClass();" autocomplete="off" />


                </div>

                <div class="col-md-6">
                    <label class="col-md-4 fontBold">Mobile Number:</label>
                    <input type="text" id="txtissuemobno" maxlength="10" class="form-control col-md-8 pull-right" placeholder="Mobile Number" onblur="CheckReissueMobileNo();" onkeyup=" RemoveClass();" autocomplete="off" />

                </div>

                <div class="col-md-6 pl-0 pt-1">
                    <label class="col-md-4 fontBold">Coupon Number:</label>
                    <input type="text" id="txtissuecardno" class="form-control col-md-8 pull-right" placeholder="Coupon Number" onblur="CheckReissueCardno();" onkeyup=" RemoveClass();" />


                </div>

            </div>
            <div class="row" id="dvreissue" style="display:none">

                <div class="col-md-6 pl-0 pt-1">
                    <label class="col-md-4 fontBold">Booklet No.:</label>
                    <label class="col-md-8 fontBold pull-right pl-0" id="lblribookletno"></label>
                </div>

                <div class="col-md-6 pl-0 pt-1">
                    <label class="col-md-4 fontBold">Coupon No.:</label>
                    <label class="col-md-8 fontBold pull-right pl-0" id="lblricardno"></label>
                </div>

                <div class="col-md-6 pt-1">
                    <label class="col-md-4 pl-0 fontBold">Customer Name:</label>
                    <label class="col-md-8 fontBold pull-right pl-0" id="lblriname"></label>
                </div>
                <div class="col-md-6 pt-1 pl-0">
                    <label class="col-md-4 fontBold">Mobile Number:</label>
                    <label class="col-md-8 fontBold pull-right pl-0" id="lblrimobno"></label>
                </div>
                <div class="col-md-6 pt-1">
                    <label class="col-md-4 pl-0 fontBold">Email:</label>
                    <label class="col-md-8 fontBold pull-right pl-0" id="lblriemail"></label>
                </div>
                <div class="col-md-6  pl-0">
                    <label class="col-sm-2 col-md-4 col-3 fontBold pl-3 pt-2 pr-0">Booklet No.</label>
                    <div class="col-sm-8 col-md-8 col-8 dropdown pr-0 pt-2 pl-0 pull-right ">
                        <select class="form-control" style="height: 27px; display: block;" id="ddlbooklet1" @*onchange="FilterCouponNo();"*@ onchange="RemoveClass();"></select>
                    </div>
                </div>
                <div class="col-md-6 pt-1" style="display:none">
                    <label class="col-md-4 pl-0 fontBold">Address:</label>
                    <label class="col-md-8 fontBold pull-right pl-0" id="lblriaddress"></label>
                </div>

                <div class="col-md-6 pl-0" style="position:relative;">
                    <label class="col-sm-2 col-md-4 col-3 fontBold pl-3 pt-2 pr-0">New Coupon Number:</label>
                    <div class="col-sm-8 col-md-8 col-8 dropdown pr-0 pt-2 pl-0 pull-right ">
                        <select class="form-control" style="height: 27px; display: block;" id="ddlissuenwcardno" @*onkeyup="FilterIssueCardNo();"*@ onchange="RemoveClass();">
                            <option value="0" selected="selected">Select</option>

                        </select>
                        @*<input type="text" id="txtissuenwcardno" class="form-control col-md-8 pull-right autocomplete ui-widget" placeholder="Coupon Number" onkeyup="FilterIssueCardNo();" onkeypress="RemoveClass();" />*@


                    </div>
                </div>



                <div class="col-md-12 p-0 mt-1 btnposi">
                    <div class="col-md-6 pt-1">
                        <div class="buttonCon1 pull-right">
                            <button type="button" id="btnclreissue" class="btn btn-success btn-sm "><a href="/Home/Index"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Reissue</a></button>
                        </div>
                    </div>
                </div>
                 </div>
                    <div class="buttonCon1 pull-right">


                        <button class="btn btn-success btn-sm"><a href="/Home/Index"><i class="fa fa-sign-out" aria-hidden="true"></i>Exit</a></button>

                    </div>
               
            
        </div>
    </div>



    <label id="lblrestroid" style="display: none" />
    <label id="lblriaddress" style="display: none" />
    

</div>
<script src="~/JavaScript/CouponCustomer.js"></script>