@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>POS System</title>
    @*<link rel="icon" type="image/x-icon" href="~/Content/images/favicon.ico" />*@

    <link href="~/Content/css/material-style.css" rel="stylesheet" />
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script>        var jquery_min_p = jQuery.noConflict();</script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script src="~/JavaScript/ForgotPassword.js"></script>

    <script src="~/Content/js/bootstrap.min.js"></script>
    <script>        var bootstrap_min_p = jQuery.noConflict();</script>
    <script src="~/Content/js/jquery-ui.js"></script>
    <script src="~/Content/js/jquery.filtertable.min.js"></script>



    @*<script src="~/MinJavaScript/ForgotPassword_min.js"></script>*@
</head>

<body>
    <form id="form1" class="mb-0">
        <div class='wrapper'>
            <div class='main-panel'>
                <div class="loginBG">
                    <div class="content">
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="card-body ">
                                        <form method="get" class="form-horizontal">
                                            <div class="container">
                                                <div class="row mb-2">
                                                    <div class="card card-login mx-auto text-center bg-theme">
                                                        <div class="card-header mx-auto mb-3">
                                                            <a href="#" class="simple-text logo-normal">
                                                                <img src="~/Content/images/POS-logo-sign.png" />
                                                            </a>
                                                        </div>

                                                        <div class="card-body">
                                                            <form method="get" class="form-horizontal">
                                                                <div class="input-group form-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                                                        <input type="email" id="txtEmailId" name="EmailId" class="form-control" placeholder="Email ID">

                                                                    </div>
                                                                    
                                                                </div>
                                                                <div class="error" id="diverror" style="display:none;">Please enter valid email id
                                                                </div>
                                                                   <div class="form-group">
                                                                   
                                                                   <input type="button" name="btn" value="Submit" class="btn btn-outline-danger login_btn" onclick="Validate();">
                                                                </div>
</form>

                                                            <div class="pageRedirect">
                                                                <span><img src="~/Content/images/login-icon.png" /></span>
                                                                <a href="/Login/Login">Login</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
</body>
</html>


<div class="modal" id="successPopup">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="btnClose">
                    <span class="cross">&times;</span>
                </button>
                <h4 class="modal-title">
                    <img class="centerBox" src="../assets/imgages/success-icon.png" />
                </h4>
            </div>


            <div class="modal-body">

                <div class="col-sm-12 col-md-12">
                    <div class="row">
                        <h5 class="centerBox">Sent successfully, check your mail.</h5>

                    </div>

                </div>

            </div>
            <div class="modal-footer footerCon">
                <button type="button" class="btn btn-success btn-sm" id="btnsaveclose">Submit</button>
            </div>
        </div>

    </div>
</div>